/* ===========================
   ======= Body style ======== 
   =========================== */
   
body {
	/*background-image: url('images/bg.png');*/
	/*color: #000305;*/
	font-size: 87.5%;/* 87.5% Base font size: 14px  taille des caractères */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429; /*espacement vide hauteur entre les lignes*/
	/*margin: 0;*/
	/*padding: 0;*/
	text-align: left;
	}
	
.body {
	
	margin: 0 auto; /* top/bottom+right/left; auto the browser calculates the margin*/
	width: 70%;
	clear: both; /*permet d'indiquer qu'un élément doit venir se placer en dessous des éléments flottants
	il passe en dessous de tout les flottants*/
}

.promo li
{
    display: inline-block;
    list-style: none;

}


a {
	/*outline: 0;*/
	text-decoration: none; /*pas de surlignement sur les liens*/
	}

a img {
	/*border: 0px;*/ 
	text-decoration: none;
}

a:link, a:visited {
	/*color: #CF5C3F;
	padding: 0 1px;
	text-decoration: none;*/
}

a:hover, a:active {
	/*background-color: #CF5C3F;
	color: #fff;
	text-decoration: none;*/
}


/*-----------------------------------------------

HEADER
-----------------------------------------------*/

.mainHeader img { /**/
	height: 100px;
	width: 100px;
	/*width: 70%;
	height: auto;*/
	/*margin: 3% 0;*/
}


.mainHeader nav {
	background-color: #042d52; /*couleur grise pour la bande du menu*/
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px; /* les bordures arrondies pour les navigateurs Mozilla, Chrome*/
	-webkit-border-radius: 5px;
	margin: 0 auto 30px auto;
	text-align: center;

}


	
.mainHeader nav ul { /**/
	list-style : none; /*pas de puces*/
	margin: 0 auto;
	
}


.mainHeader nav ul li {
	float: left; /* ne centre pas les cellueles*/
	display: inline; /* regroupe les éléments de la liste en une ligne*/
}


.mainHeader nav a:link, .mainHeader nav a:visited { /*pour les liens visité*/ /**/
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}
.mainHeader nav a:hover, .mainHeader nav a:active, /**/
.mainHeader nav .active a:link, .mainHeader nav .active a:visited { /*lorsqu'on sélectionne sur le menu, ç'est orange*/
	background: #CF5C3F;
	color: #fff;
}


/*-----------------------------
Content
-----------------------------*/


.mainContent {
	overflow: hidden;  /*une partie seulement de l'image est visible dans le cadre*/
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}



.content {
	width: 68%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;


}


.topcontent { /*couleurs bordure du topcontent*/
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	/*padding: 3% 5%;*/
	margin-bottom: 20px;
	border: 2px solid #042d52;
	
	/*margin-bottom: 3%;*/
}


.bottomcontent { /*couleurs bordure du bottomcontent*/
	background-color: #FFF;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	margin-bottom: 20px;
}

.contactcontent { /*couleurs bordure du contactcontent*/
	background-color: #FFF;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
}

.subscribecontent { /*couleurs bordure du subscribecontent*/
	background-color: #FFF;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
}

.connexioncontent { /*couleurs bordure du subscribecontent*/
	background-color: #FFF;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
}

.profilcontent { /*couleurs bordure du subscribecontent*/
	background-color: #FFF;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
}



}

.articlescontent  { /*couleurs bordure du articlescontent*/
	background-color: #FFF;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 3% 5%;
}

article{
	border: 2px solid #042d52;
}
article h3
{
	background-color: #042d52;
	/*padding-left: 10px;*/ /*décale le 1er caractère à droite de 10 pixels*/
	color: white;

}




/*-----------------------------------------------

ASIDE
-----------------------------------------------*/


.top-sidebar {
	width: 24%;
	float: left;
	margin-left: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #FFF;	
	padding: 2% 3%;
	margin-bottom: 2%;

}

.middle-sidebar {
	width: 24%;
	float: left;
	margin-left: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #FFF;	
	padding: 2% 3%;
	margin-bottom: 2%;
}

.bottom-sidebar {
	width: 24%;
	float: left;
	margin-left: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #FFF;	
	padding: 2% 3%;
}

aside h4
{
	background-color: #042d52;
	text-align: center;
	margin-top: 0px; /*fait monter le titre tout en haut du bloc aside*/
	color: white;

}

aside ul li
{
	
	list-style : none;
	margin-bottom: 2px;
	margin-left: -40px;
	text-align: center;
	/*background-color: #0154a0;*/

}

aside ul li a
{
	list-style : none;
	list-style-type: none;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

aside ul li a:hover
{
	
	text-decoration: none;
	color: black;
	font-weight: bold;
}

aside ul li
{
	
	background-color: #006e2e;

}

aside ul li + li
{

	background-color: #006e2e;

}


.mainFooter {
	width: 100%;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 0;
	background-color: #042d52;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	color: #FFF;
	clear: both; /*oblige le footer à se positionner sous l'élément flottant donc sous section et aside */
}

.mainFooter p {
	width: 91%;
	margin: 2% auto;
}
